<div id="sidebar-container" class="sidebar hiding"></div>

<div id="nugget-options" class="hiding"></div>

<div id="builder-container" class="col-sm-12 editable"></div>

<div id="export-container"></div>







