<div class="container sidebar-sample-item">
	<div class="col-xs-12 col-sm-3 blue-template-content-left">
		<div class="blue-template-logo-container">
			<img src="https://uskin.herokuapp.com/images/blue_template/template_logo.png" class="nugget">
		</div>
		<div class="blue-template-social-media-container">
			<img src="https://uskin.herokuapp.com/images/blue_template/template_social_media.png" class="nugget">
		</div>
	</div>

	<div class="col-xs-12 col-sm-9 blue-template-content-right">
		<script>templateLoad('ungerboeckContentOptions', null, '.blue-template-content-right', null);</script>
	</div>
</div>