<div class="container sidebar-sample-item">
	<div class="col-xs-12 col-sm-9 red-template-content-left">
		<script>templateLoad('ungerboeckContentOptions', null, '.red-template-content-left', null);</script>
	</div>

	<div class="col-xs-12 col-sm-3 red-template-content-right">
		<div class="red-template-contact-container">
			<div class="red-template-contact-title nugget">
				Contact Us!
			</div>
			<div class="red-template-contact-1">
				<div class="red-template-contact-job nugget">
					Job Title
				</div>
				<div class="red-template-contact-name nugget">
					NAME FIRST LAST
				</div>
				<div class="red-template-contact-phone nugget">
					Phone
				</div>
				<div class="red-template-contact-email">
					<a href="mailto:usi@ungerboeck.com" class="nugget">email address</a>
				</div>
			</div>
			<div class="red-template-contact-2">
				<div class="red-template-contact-job nugget">
					Job Title
				</div>
				<div class="red-template-contact-name nugget">
					NAME FIRST LAST
				</div>
				<div class="red-template-contact-phone nugget">
					Phone
				</div>
				<div class="red-template-contact-email">
					<a href="mailto:usi@ungerboeck.com" class="nugget">email address</a>
				</div>
			</div>
		</div>

		<div class="red-template-social-media-container">
			<img src="https://uskin.herokuapp.com/images/red_template/template_social_media.png" class="nugget">
		</div>
	</div>
</div>