<div class="container sidebar-sample-item">
	<div class="col-xs-12 col-sm-9 green-template-content-left">
		<script>templateLoad('ungerboeckContentOptions', null, '.green-template-content-left', null);</script>
	</div>

	<div class="col-xs-12 col-sm-3 green-template-content-right">
		<img src="https://uskin.herokuapp.com/images/green_template/template_contact_us.png" class="green-template-contact-us-img nugget">
		<div class="green-template-contact-container">
			<div class="green-template-contact-title nugget">
				GOT QUESTIONS? CONTACT US!
			</div>
			<div class="green-template-contact-1">
				<div class="green-template-contact-name nugget">
					NAME FIRST LAST
				</div>
				<div class="green-template-contact-job nugget">
					Job Title
				</div>
				<div class="green-template-contact-phone nugget">
					Phone
				</div>
				<div class="green-template-contact-email">
					<a href="mailto:usi@ungerboeck.com" class="nugget">email address</a>
				</div>
			</div>
			<div class="green-template-contact-2">
				<div class="green-template-contact-name nugget">
					NAME FIRST LAST
				</div>
				<div class="green-template-contact-job nugget">
					Job Title
				</div>
				<div class="green-template-contact-phone nugget">
					Phone
				</div>
				<div class="green-template-contact-email">
					<a href="mailto:usi@ungerboeck.com" class="nugget">email address</a>
				</div>
			</div>
		</div>
	</div>
</div>