aside {
	.atom {
		z-index:3;
	}
}
.item-sample-label {
	padding: 10px;
	text-transform: uppercase;
	font-weight:bold;
}
.item-sample-widget {
	cursor:pointer;
}
#sidebar-container.sidebar {
	min-height:100vh;
}

aside .step.active {
	position: 	relative;
	z-index:5;
}
aside h2, aside h3 {
	color:#fff;
}