<i class="fa fa-times-circle" aria-hidden="true"></i>
<h2>Element Options</h2>
<p>Color</p>
<form action="" class="colors">
	<input type="radio" name="color" data-nugget-class="nugget-red" class="nugget-bg-red">
	<input type="radio" name="color" data-nugget-class="nugget-orange" class="nugget-bg-orange"> 
	<input type="radio" name="color" data-nugget-class="nugget-yellow" class="nugget-bg-yellow"> 
	<input type="radio" name="color" data-nugget-class="nugget-light-green" class="nugget-bg-light-green"> 
	<input type="radio" name="color" data-nugget-class="nugget-green" class="nugget-bg-green"> 
	<input type="radio" name="color" data-nugget-class="nugget-light-blue" class="nugget-bg-light-blue"> 
	<input type="radio" name="color" data-nugget-class="nugget-blue" class="nugget-bg-blue"> 
	<input type="radio" name="color" data-nugget-class="nugget-purple" class="nugget-bg-purple"> 
	<input type="radio" name="color" data-nugget-class="nugget-white" class="nugget-bg-white"> 
	<input type="radio" name="color" data-nugget-class="nugget-black" class="nugget-bg-black"> 
</form>
<p>Font Family</p>
<form action="" class="fonts">
	<div class="nugget-open-sans">
		<input type="radio" name="font" data-nugget-font="nugget-open-sans"> &nbsp;&nbsp;Open Sans
	</div>
	<div class="nugget-oswald">
		<input type="radio" name="font" data-nugget-font="nugget-oswald"> &nbsp;&nbsp;Oswald
	</div>
	<div class="nugget-playfair-display">
		<input type="radio" name="font" data-nugget-font="nugget-playfair-display"> &nbsp;&nbsp;Playfair
	</div>
</form>

<a href="#" class="action apply">Apply changes</a>
<a href="#" class="action cancel">Cancel changes</a>