<aside>
	<div id="gear">
		<i class="fa fa-cog" aria-hidden="true"></i>
	</div>
	<h2>Layout</h2>
	<ul class="layout-type list-inline list-unstyled">
		<li><a href="#">Template</a></li>
		<li><a href="#" class="active">Custom</a></li>
	</ul>
	<div class="step active">
		<h3>1 Elements</h3>
		<div class="details">
			<p>Click and drag elements to create your layout.</p>
			<div data-usi-drawer="#drawer-background" class="atom">
				Background
			</div>
			<div data-usi-drawer="#drawer-header" class="atom">
				Header
			</div>
			<div data-usi-drawer="#drawer-content" class="atom">
				Content Area
			</div>
			<div data-usi-drawer="#drawer-footer" class="atom">
				Footer
			</div>
			<!--<div data-usi-drawer="#drawer-logo" class="atom">
				Logo
			</div>-->
			<!--<div data-usi-drawer="#drawer-image" class="atom">
				Image
			</div>-->
			<a href="#" id="export-button" class="next">
				Export
			</a>
		</div><!-- /.details -->
	</div><!-- /.step -->

	<!--<div class="step">
		<h3>2 Options</h3>
		<div class="details">
			<p>Options</p>
		</div>

	</div>

	<div class="step">
		<h3>3 Export</h3>
		<div class="details"><p>Export</p></div>
	</div>-->

	<div class="drawer hiding" id="drawer-background">

	<div id="board-sidebar-background-draggable">

			<!--Custom Background -->
			<div class="sidebar-background-selector sidebar-sample-item-container" bck-color="" bck-image="custom_background_1_widget">		
				<div class="item-sample-label">
					Custom Background
				</div>
				<div class="item-sample-widget">
					<img src="/images/backgrounds/custom_background_1_widget.png">
				</div>
			</div>
			<!-- .Custom Background -->			

			<!--White Background -->
			<div class="sidebar-background-selector sidebar-sample-item-container" bck-color="white" bck-image="">		
				<div class="item-sample-label">
					White Background
				</div>
				<div class="item-sample-widget">
					<img src="/images/backgrounds/white_background_widget.png">
				</div>
			</div>
			<!-- .White Background -->

			<!--Gray Background -->
			<div class="sidebar-background-selector sidebar-sample-item-container" bck-color="#f1f1f1" bck-image="">		
				<div class="item-sample-label">
					Gray Background
				</div>
				<div class="item-sample-widget">
					<img src="/images/backgrounds/gray_background_widget.png">
				</div>
			</div>
			<!-- .Gray Background -->

			

		</div>

	</div>

	<div class="drawer hiding" id="drawer-header">

		<div id="board-sidebar-header-draggable">

			<!--Green Template Header -->
			<div id="green-template-header-container" class="green-template-header sidebar-sample-item-container">		
				<div class="item-sample-label">
					Green Template Header
				</div>
				<div class="item-sample-widget">
					<img src="/images/green_template/template_header_widget.png">
				</div>
				<script>templateLoad('green_template/green_template_header', null, '#green-template-header-container', null);</script>
			</div>
			<!-- .Green Template Header -->

			<!--Blue Template Header -->
			<div id="blue-template-header-container" class="blue-template-header sidebar-sample-item-container">		
				<div class="item-sample-label">
					Blue Template Header
				</div>
				<div class="item-sample-widget">
					<img src="/images/blue_template/template_header_widget.png">
				</div>
				<script>templateLoad('blue_template/blue_template_header', null, '#blue-template-header-container', null);</script>
			</div>
			<!-- .Blue Template Header -->

			<!--Red Template Header -->
			<div id="red-template-header-container" class="red-template-header sidebar-sample-item-container">		
				<div class="item-sample-label">
					Red Template Header
				</div>
				<div class="item-sample-widget">
					<img src="/images/red_template/template_header_widget.png">
				</div>
				<script>templateLoad('red_template/red_template_header', null, '#red-template-header-container', null);</script>
			</div>
			<!-- .Red Template Header -->

		</div>

	</div><!-- /.drawer#drawer-header -->

	<div class="drawer hiding" id="drawer-content">

		<div id="board-sidebar-content-draggable">

			<!--Green Template Content -->
			<div id="green-template-content-container" class="green-template-content sidebar-sample-item-container">		
				<div class="item-sample-label">
					Green Template Content
				</div>
				<div class="item-sample-widget">
					<img src="/images/green_template/template_content_widget.png">
				</div>
				<script>templateLoad('green_template/green_template_content', null, '#green-template-content-container', null);</script>
			</div>
			<!-- .Green Template Content -->

			<!--Blue Template Content -->
			<div id="blue-template-content-container" class="blue-template-content sidebar-sample-item-container">		
				<div class="item-sample-label">
					Blue Template Content
				</div>
				<div class="item-sample-widget">
					<img src="/images/blue_template/template_content_widget.png">
				</div>
				<script>templateLoad('blue_template/blue_template_content', null, '#blue-template-content-container', null);</script>
			</div>
			<!-- .Blue Template Content -->

			<!--Red Template Content -->
			<div id="red-template-content-container" class="red-template-content sidebar-sample-item-container">		
				<div class="item-sample-label">
					Red Template Content
				</div>
				<div class="item-sample-widget">
					<img src="/images/red_template/template_content_widget.png">
				</div>
				<script>templateLoad('red_template/red_template_content', null, '#red-template-content-container', null);</script>
			</div>
			<!-- .Red Template Content -->

		</div>

	</div>

	<div class="drawer hiding" id="drawer-footer">
		
		<div id="board-sidebar-footer-draggable">

			<!--Green Template Footer -->
			<div id="green-template-footer-container" class="green-template-footer sidebar-sample-item-container">		
				<div class="item-sample-label">
					Green Template Footer
				</div>
				<div class="item-sample-widget">
					<img src="/images/green_template/template_footer_widget.png">
				</div>
				<script>templateLoad('green_template/green_template_footer', null, '#green-template-footer-container', null);</script>
			</div>
			<!-- .Green Template Footer -->

			<!--Blue Template Footer -->
			<div id="blue-template-footer-container" class="blue-template-footer sidebar-sample-item-container">		
				<div class="item-sample-label">
					Blue Template Footer
				</div>
				<div class="item-sample-widget">
					<img src="/images/blue_template/template_footer_widget.png">
				</div>
				<script>templateLoad('blue_template/blue_template_footer', null, '#blue-template-footer-container', null);</script>
			</div>
			<!-- .Blue Template Footer -->

			<!--Red Template Footer -->
			<div id="red-template-footer-container" class="red-template-footer sidebar-sample-item-container">		
				<div class="item-sample-label">
					Red Template Footer
				</div>
				<div class="item-sample-widget">
					<img src="/images/red_template/template_footer_widget.png">
				</div>
				<script>templateLoad('red_template/red_template_footer', null, '#red-template-footer-container', null);</script>
			</div>
			<!-- .Red Template Footer -->

		</div>

	</div>

	<!--<div class="drawer hiding" id="drawer-logo">
		logo stuff <br />
		logo stuff <br />
		logo stuff <br />
		logo stuff <br />
		logo stuff <br />
	</div>-->

	<!--<div class="drawer hiding" id="drawer-image">
		image stuff <br />
		image stuff <br />
		image stuff <br />
		image stuff <br />
		image stuff <br />
		image stuff <br />
	</div>-->

</aside>

