<div class="ungerboeck-content-options">
	<div class="ungerboeck-content-top nugget">
		<div class="usi-welcome-message nugget not-editable">Welcome Message</div>
		<div class="usi-sign-out nugget not-editable">Sign Out</div>
		<div class="clear"></div>
	</div>

	<div class="ungerboeck-content-header nugget">
		<div class="usi-event-title nugget not-editable">Event Name</div>
		<div class="usi-event-location nugget not-editable">Location</div>
		<div class="usi-event-date-time nugget not-editable">Date & Time</div>
	</div>

	<div class="ungerboeck-content-subheader">
		<div class="steps">
			<label class="nugget not-editable usi-step-completed">Step Completed Button</label>
			<label class="nugget not-editable usi-step-current">Step Current Button</label>
			<label class="nugget not-editable usi-step-next">Next Step Button</label>
			<div class="clear"></div>
		</div>
	</div>

	<div class="ungerboeck-content-body">
		<div class="usi-body-header">
			<label class="nugget not-editable">Page Heading</label>
		</div>
		<div class="body-form">
			<div class="body-form-item">
				<span class="usi-body-form-label nugget not-editable">Field Label</span>
				<input type="text" class="usi-body-form-field nugget .not-editable" placeholder="Field Input" readonly>
			</div>
		</div>
		<div class="body-table">
			<div class="usi-table-background nugget not-editable">Table Background</div>
			<div class="usi-table-background nugget not-editable">Table Header</div>
		</div>
		<div class="body-buttons">
			<button class="usi-body-button-item nugget not-editable">Form Buttons</button>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="ungerboeck-placeholders">
	<!--LEFTPAGE-->
	<!--CENTERPAGE-->
	<!--RIGHTPAGE-->
</div>

<!--<div class="ungerboeck-content-options">
	<div class="container">

		<div class="editable-options-item">
			<h2>Page</h2>

			<div clas="ungerboeck-content-background nugget">Page Background</div>
		</div>

		<div class="editable-options-item">
			<h2>Banner</h2>

			<div clas="ungerboeck-content-banner nugget">
				<div class="welcome-message nugget not-editable">Welcome, Nugget</div>
				<div class="sign-out nugget not-editable">Sign Out</div>
			</div>
		</div>

		<div class="editable-options-item">
			<h2>Event Info</h2>

			<div class="ungerboeck-content-header nugget">
				<div class="event-title nugget not-editable">Event Name</div>
				<div class="event-location nugget not-editable">Location</div>
				<div class="event-date-time nugget not-editable">Date & Time</div>
			</div>
		</div>

		<div class="editable-options-item">
			<h2>Buttons</h2>

			<div class="ungerboeck-content-buttons">
				<button class="nugget not-editable">Progress - Completed</button>
				<button class="nugget not-editable">Progress - Current</button>
				<button class="nugget not-editable">Page Buttons</button>
			</div>
		</div>

		<div class="editable-options-item">
			<h2>Form Fields and Labels</h2>

			<div class="ungerboeck-content-form">
				<div class="body-form-label nugget not-editable">Label</div>
				<input type="text" class="body-form-field nugget .not-editable" placeholder="Input Field" readonly>
			</div>
		</div>

		<div class="editable-options-item">
			<h2>Section Heading</h2>

			<div class="ungerboeck-content-heading">
				<div class="heading-label nugget not-editable">Label</div>
			</div>
		</div>

		<div class="editable-options-item">
			<h2>Tables</h2>

			<div class="ungerboeck-content-table">
				<div class="table-background nugget not-editable">Table Background</div>
				<div class="table-text-color nugget not-editable">Table Text Color</div>
			</div>
		</div>		
	</div>
</div>-->